.hoverZoom {
    transition: transform 0.3s ease-in-out;
  }
  
  .hoverZoom:hover {
    transform: scale(1.1);  
  }
.activeZoom {
    transform: scale(1.1); /* Sie können den Skalierungsfaktor ändern, um die Vergrößerung anzupassen */
    transition: transform 0.3s; /* Sanfte Übergangsanimation */
}

.blueBorder{
  border: 2px solid blue
}

.redBorder input{
  border: 2px solid red}



  